## DATA frame understanding

In [3]:
a=5
b=6
a+b

11

In [4]:
def get_avg(*args):
    args=list(args)
    return sum(args)/len(args)

list_num=[]
n=int(input("how many number:"))
for i in range(n):
    a=int(input("enter a number{i}:"))
    list_num.append(a)
print(list_num)
avg=get_avg(*list_num)
print(avg)

[5, 6]
5.5

## data frame Understanding frame

In [3]:
import pandas as pd
student_data=pd.DataFrame(columns=['SN','Name','score'])
student_data['SN']=[1,2,3,4,5]
student_data['Name']=['A','B','C','D','E']
student_data['score']=[1,2,4,5,2]
student_data['New_Colume']=[1,4,3,6,8]
display(student_data)

   SN Name  score  New_Colume
0   1    A      1           1
1   2    B      2           4
2   3    C      4           3
3   4    D      5           6
4   5    E      2           8

In [17]:
list_studentNAme=[]
list_Score=[]
list_result=[]
n=int(input("enter numnber of student:"))

for i in range (0,n):
    name=input("enter a name of student:")
    list_studentNAme.append(name)
    score=input("enter score of student:")
    list_Score.append(score)
    a=int(score)
    if a>=32:
        list_result.append("passed")
    else:
        list_result.append("failed")

student_data=pd.DataFrame(columns=['Student Name','Score','result'])
student_data['Student Name']=list_studentNAme
student_data['Score']=list_Score
student_data['result']=list_result


display(student_data)

  Student Name Score  result
0        saroj    55  passed
1          ram    12  failed

LOC

In [12]:
import pandas as pd
import time
from timeit import default_timer as Timer
data_frame_new=pd.DataFrame({'NAME':['A','B','C','F','E','F','G'],
                             'MARK':[10,33,44,55,22,44,55]})
data_frame_new
marks_column_list=data_frame_new['MARK'].tolist()
name_column_list=data_frame_new['NAME'].tolist()
failed_student=[]
start_time=time.time()
start=Timer()
print(start_time)
for i in range(len(marks_column_list)):
    if marks_column_list[i]<32:
        failed_student.append(name_column_list[i])
end_time=time.time()
end=Timer()

print(f'Total time taken {end_time-start_time}')
print(end - start)
print(failed_student)

1718522249.2818687
Total time taken 0.0
0.0003960999893024564
['A', 'E']

In [28]:
import pandas as pd
import time
from timeit import default_timer as Timer
data_frame_new=pd.DataFrame({'NAME':['A','B','C','F','E','F','G'],
                             'MARK':[10,20,30,40,50,60,70]})
start_time=Timer()
display(data_frame_new.loc[(data_frame_new['MARK']<32) & (data_frame_new['NAME']!='A')])  #loc=locate
#display(data_frame_new.loc[data_frame_new['NAME'] !='A'])
#data_frame_new['NAME'].loc[data_frame_new['MARK']<32]   #loc=locate
end_time=Timer()
print(end_time-start_time)
display(data_frame_new)

  NAME  MARK
1    B    20
2    C    30

0.012538600014522672

ILOC  =index locate work in row

In [29]:
display(data_frame_new)
display(data_frame_new.iloc[0])

  NAME  MARK
0    A    10
1    B    20
2    C    30
3    F    40
4    E    50
5    F    60
6    G    70

NAME     A
MARK    10
Name: 0, dtype: object

<H4> TASK <br>
Create a quiz game. which basically as following features

create_question()-> this function is responsible for creating N number of question with 4 option available and
correct answer provided as well, returms daraframe  with N rows, 6 column['question','option1','option 2','option 3,"option 4,"correct_option]

ask_question()-> use the dataframe generated and serially show the question row wise, and wait for user to give the answer if the answer is correct move to next question else terminate right away

In [40]:
import pandas as pd
def create_question():
    list_question=[]
    list_option1=[]
    list_option2=[]
    list_option3=[]
    list_correct=[]
    n=int(input("enter number of question"))
    for i in range(n):
        list_question.append(input("enter question:"))
        list_option1.append(input("Enter  option 1"))
        list_option2.append(input("enter option 2"))
        list_option3.append(input("enter option 3"))
        list_correct.append(input("enter correct option"))
    question_data=pd.DataFrame(columns=['Question','option1','option2','option3','correct'])

    question_data['Question']=list_question
    question_data['option1']=list_option1
    question_data['option2']=list_option2
    question_data['option3']=list_option3
    question_data['correct']=list_correct

    return (question_data)



def ask_question(question_data):
    total_loop=question_data.shape[0]
    
    for i in range (total_loop):
        display(question_data.iloc[i])
        a=print("Enter correct answer:")
        question_data['correct'].loc[(question_data['MARK'] =a]


create_question()
# ask_question()

ValueError: invalid literal for int() with base 10: "'"

In [5]:
import pandas as pd
import numpy as np
result = pd.DataFrame(columns= ['eigenvalue', 'error'])
A= np.array([[1,9,8],
[2,7,6],
[7,20,9]])
x= np.array([4,2,-8])
max_iterations = 10
e_toleran=0.00005
oldEigenvalue = 0
for i in range(max_iterations):
    x = np.dot (A,x)
    eigenvalue = np.linalg.norm(x)
    error=(eigenvalue-oldEigenvalue)
    x = x/eigenvalue
    result.loc[i] = [eigenvalue, error]
    if error<e_toleran:
        break
    oldEigenValue = eigenvalue
result

   eigenvalue      error
0   49.558047  49.558047
1   19.158434  19.158434
2   21.011662  21.011662
3   22.516527  22.516527
4   22.284329  22.284329
5   22.333684  22.333684
6   22.323969  22.323969
7   22.325910  22.325910
8   22.325523  22.325523
9   22.325600  22.325600

Saving and loading datafraome

In [8]:
import pandas as pd
student_information=()
N=input("enter how many student:")
student=[]
marks=[]

for i in range(int(N)):
    student.append(input(f'enter student{i} name:'))
    marks.append(input(f"Enter the marks obtained by{student[i]}:"))
data_frame=pd.DataFrame()

data_frame['Name']=student
data_frame['marks']=marks

data_frame=data_frame.sort_values(by='marks', ascending=False)
#how to save dataframen here
data_frame.to_csv('database_student.csv',index=False)

In [1]:
import pandas as pd
data_frame_loaded=pd.read_csv(r'C:\python data science\python\panda_learning\database_student.csv')
display(data_frame_loaded)

    Name  marks
0  saroj     55
1    ram     55
2  shyam     22